.Title1 {
    color: var(--color-gray-0);
    font-family: var(--font-primary);
    font-weight: 700;
    line-height: 1.7766rem;
    font-size: 1.125rem;
}

.Title2 {
    color: var(--color-gray-0);
    font-family: var(--font-primary);
    font-weight: 600;
    line-height: 1.6496rem;
    font-size: 1rem;
}

.Headline {
    color: var(--color-gray-0);
    font-family: var(--font-primary);
    font-weight: 400;
    line-height: 1.3959rem;
    font-size: .7614rem;
}

.HeadlineBold {
    color: #FFF;
    font-family: var(--font-primary);
    font-weight: 600;
    line-height: 1.1421rem;
    font-size: .7614rem;
}

.Paragraph {
    color: #FFF;
    font-family: var(--font-primary);
    font-weight: 400;
    line-height: 1.1421rem;
    font-size: 1rem;
}